@import "include-media.scss";
$gradientGreen: linear-gradient(#00cc22, #00c721);

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    overflow: hidden;
    background: white;
}
.intro.none{
    display: none;
}
.intro.active{
    height: 100vh;
    width: 100%;
    z-index: 100;
    position: relative;
    
    .top,
    .bottom{
        height: 50%;
        width: 100%;
        position: absolute;
        margin:0%;
        
        .letter{
            height: 200px;
            width: 200px;
            margin: 0;
            font-size: 20em;
            color: white;
            position: absolute;
            left: 50%;
            z-index: 120;
            transform: rotate(90deg);
        }
    }
    .top,
    .bottom{
        animation: indexAnimation .6s ease-out;
        animation-delay: 1s;
        .letter{
            opacity: .33;
            animation: letterAnimation 1.6s ease-in;
            @keyframes letterAnimation {
                0%{
                    opacity: 0;
                }
                100%{
                    opacity: .88;
                }
            }
        }
    }
    .top{
        background: linear-gradient(0deg, #01f82a, #02ac1e );
        top: 0%;
        .letter{
            bottom: -12%;
            left: 48.2%;
            @include media("<=laptopHDPI"){
                left:51%;
                bottom: -8%;
            }
            @include media("<=desktop"){
                left:51%;
                bottom: -8%;
            }
            @include media("<=830px"){
                left:51%;
                bottom: -8%;
            }
        }
    }
    .bottom{
        background: linear-gradient(0deg,  #02ac1e , #01f82a);
        bottom: 0%;
        .letter{
            left:54.5%;
            top:-13%;
            @include media("<=2000px"){
                left:51.3%;
                top: -3%;
            }
            @include media("<=1800px"){
                left:51.8%;
                top: -3%;
            }
            @include media("<=1600px"){
                left:52.4%;
                top: -3%;
            }
            @include media("<=laptopHDPI"){
                left:55.4%;
                top: -13%;
            }
            @include media("<=1170px"){
                left:56.8%;
                
            }
            @include media("<=desktop"){
               
               left: 57.5%;
            }
            @include media("<=830px"){
               left: 58.5%;
            }
            @include media("<=760px"){
               left: 59.5%;
            }
            @include media("<=680px"){
               left: 60.5%;
            }
            @include media("<=620px"){
               left: 61.5%;
            }
            @include media("<=570px"){
               left: 62.5%;
            }
            @include media("<=530px"){
               left: 63%;
            }
            @include media("<=480px"){
               left: 64.5%;
            }
            @include media("<=430px"){
               left: 65.5%;
            }
            @include media("<=400px"){
               left: 66.5%;
            }
            @include media("<=385px"){
               left: 67.5%;
            }
            @include media("<=376px"){
               left: 67.8%;
            }
            @include media("<=362px"){
              
               top: -18%;
            }
            @include media("<=350px"){
               left: 68.8%;
            }
            @include media("<=325px"){
               left: 70%;
            }
        }
    }
    @keyframes indexAnimation {
        0%{
            height: 50%;
        }
        100%{
            height: 0%;
        }
    }
 
}
.wrapper.start{
    z-index: -1;
}
.wrapper{
    box-shadow: 0px 0px 8px 2px rgba(4, 251, 4, 0.26);
    height: 600px;
    width: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 2px;
    z-index: 1;
    @include media("<=desktop"){
        width: 90%;
    }
    @include media("<=standardPhone"){
        box-shadow: none;
        height: 90vh;
        width: 100%;
        // margin-top: 5%;
    }
    @include media("<=smallPhone"){
        height: 95%;
    }

    a{
        outline: none;
        &::selection {
            color: white;
            background: #01f82a;
          }
    }
nav{
    height: 50px;
    line-height: 48px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    a{
        background: $gradientGreen;
        border-radius: 1px;
        color: white;
        text-decoration: none;
        display: flex;
        font-size: 1em;
        padding: 0 11%;
        @include media("<=desktop"){
            font-size: .95em;
        }
        @include media("<=950px"){
            padding: 0 10.5%;
        }
        @include media("<=860px"){
            padding: 0 10.3%;
            font-size: .9em;
        }
        @include media("<=790px"){
            padding: 0 9.8%;
        }
       
        @include media("<=730px"){
            padding: 0 9%;
        }
        @include media("<=685px"){
            padding: 0 8.5%;
        }
        @include media("<=610px"){
            padding: 0 8%;
        }
        @include media("<=595px"){
            padding: 0 7.8%;
        }
        @include media("<=585px"){
            padding: 0 7.5%;
        }
        @include media("<=550px"){
            padding: 0 7%;
        }
        @include media("<=530px"){
            padding: 0 6.5%;
        }
        @include media("<=490px"){
            padding: 0 6%;
        }
        @include media("<=470px"){
            padding: 0 5%;
        }
        @include media("<=430px"){
            padding: 0 4.5%;
        }
        @include media("<=415px"){
            padding: 0 4%;
        }
        @include media("<=395px"){
            padding: 0 3.5%;
        }
        @include media("<=395px"){
            padding: 0 3.5%;
        }
        @include media("<=376px"){
            padding: 0 3%;
        }
        @include media("<=362px"){
            font-size: 0.86em;
        }
        @include media("<=350px"){
            font-size: 0.83em;
        }
        @include media("<=335px"){
            font-size: 0.8em;
        }
        @include media("<=325px"){
            font-size: 0.76em;
        }
        @include media("<=310px"){
            font-size: 0.73em;
        }
        @include media("<=300px"){
            font-size: 0.68em;
        }
        text-transform: uppercase;
        &:hover{
            opacity: .85;
        }
        &:active{
            opacity: 1;
        }
    }
    .active{
        background: white;
        color: #333333;
        &:hover{
            background: white;
            color: #333333; 
        }
    }
}
.contact.none{
    display: none;
}
.contact{
    width: 80%;
    margin-left: 10%;
    opacity: 1;
    transition: .3s ease-in-out;
    text-align: center;
    position: relative;
    .picture{
        margin: 8% auto 0%;
        height: 130px;
        width: 130px;
        position: relative;
        border: 1px solid #00BD21;
        border-radius: 80%;
        img{
            clip-path: circle(65px at center);
            height: 130px;
            width: 108px;
        }
        @include media("<=865px"){
            margin-top: 9%;
        }
        @include media("<=830px"){
            margin-top: 10%;
        }
        @include media("<=570px"){
            margin-top: 13%;
        }
        @include media("<=500px"){
            margin-top: 12%;
        }
        @include media("<=smallPhone"){
            margin-top: -4%;
        }
       
    }
    .about-me{
        width: 60%;
        margin: 0% auto;
        @include media("<=950px"){
            width: 65%;
        }
        @include media("<=865px"){
            width: 70%;
        }
        @include media("<=810px"){
            width: 72%;
        }
        @include media("<=780px"){
            width: 74%;
        }
        @include media("<=760px"){
            width: 76%;
        }
        @include media("<=740px"){
            width: 78%;
        }
        @include media("<=720px"){
            width: 80%;
        }
        @include media("<=710px"){
            width: 82%;
        }
        @include media("<=685px"){
            width: 84%;
        }
        @include media("<=669px"){
            width: 86%;
        }
        @include media("<=653px"){
            width: 88%;
        }
        @include media("<=638px"){
            width: 90%;
        }
        @include media("<=624px"){
            width: 92%;
        }
        @include media("<=610px"){
            width: 94%;
        }
        @include media("<=597px"){
            width: 96%;
        }
        @include media("<=585px"){
            width: 98%;
        }
        @include media("<=570px"){
            width: 100%;
        }
    }
    h3{
        &::selection {
            color: white;
            background: #01f82a;
          }
        font-size: 1.5em;
        &:nth-of-type(2){
            margin-top: 0px;
        }
        &:nth-of-type(1),
        &:nth-of-type(2){
            margin-bottom: 0px;
        }
        &:nth-of-type(1){
            margin-top: 14px;
        }
    }
    p{
        &::selection {
            color: white;
            background: #01f82a;
          }
        &:nth-of-type(1){
        margin-top: 15px;
        margin-bottom: 15px;
        }
        &:nth-of-type(2),
        &:nth-of-type(4){
            margin-bottom: 0px;
            font-size: .9em;
            
        }
        &:nth-of-type(4){
            margin-top: 10px;
        }
        &:nth-of-type(5),
        &:nth-of-type(3){
            
            margin-top: 2px;
            font-size: 1em;
            font-weight: 600;
        }
        &:nth-of-type(3){
            margin-bottom: 0px;
        }
        &:nth-of-type(5){
            margin-bottom: 20px;
        }
        
    }
    .icons{
        a{
            &:hover{
                opacity: .8;
            }
            &:active{
                opacity: 1;
            }
        }
    }
}
.contact,
.swiper-wrapper{
    animation: animatedIn .25s ease-in;
    
    @keyframes animatedIn {
        0%{
            opacity: 0;
            margin-top: 160px;
        }
        100%{
            opacity: 1;
            margin-top: 0px;
        }
    }
}
.swipeIlustration.none{
    display: none;
}
.swipeIlustration{
    position: absolute;
    left: 50%;
    bottom: 4%;
    opacity: .7;
    animation: swipe 1.8s ease-in-out;
    @keyframes swipe {
        0%{
            left:65%;
        }
        50%{
            left:35%;
            opacity: .9;
        }
        100%{
            left:65%;
            opacity: 0;
        }
    }
    @include media("<=500px"){
        bottom: 8%;
    }
}
.swiper-pagination{
   position: absolute;
   bottom: 0%;
   @include media("<=500px"){
    bottom: 5.5%;
}
}
.swiper-button-prev,
.swiper-button-next{
    color: #00d123;
    margin-left:2%;
    margin-right:2%;
    @include media("<=500px"){
        display: none;
    }
}
.swiper-pagination-bullet
{
    background: #00d123;
}
.swiper-container.none{
    display: none;
}
.swiper-container{
    position: relative;
    height: 500px;
    width: 100%;
    }
  .swiper-slide{
    display:flex;
    margin-top: 3.5%;
    width: 300px;
    height: 400px;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    position: relative;
    img{
        margin-top: 0px;
       
    }
    p,
    a{
        display: block;
        font-size: 0.4em;
        position: absolute;
        bottom: 3%;
    }
    p{
        bottom: 4%;
    }
  }
}
.graphic-design{
    .swiper-slide{
        img{
             width: 300px;
             height: 400px;
        }
    }
}
.web-design{

.swiper-slide{
    width: 50%;
    height: 100%;
    margin-top: -3%;
    position: relative;
    @include media("<=860px"){
        width: 55%;
    }
    @include media("<=785px"){
        width: 60%;
    }
    @include media("<=725px"){
        width: 63%;
    }
    @include media("<=680px"){
        width: 65%;
    }
    @include media("<=660px"){
        width: 68%;
    }
    @include media("<=630px"){
        width: 70%;
    }
    @include media("<=620px"){
        width: 73%;
    }
    @include media("<=590px"){
        width: 76%;
    }
    @include media("<=560px"){
        width: 90%;
    }
    @include media("<=500px"){
       margin-top: -16%;
    } 
    img{
        @include media("<=500px"){
            width: 320px;
            height: 280px;
        }  
    }
    a{
        padding: 8px 16px;
        background: rgba(8, 224, 8, 0.829);
        box-shadow: 8px -8px 20px 0px rgba(4, 251, 4, 0.157);
        font-weight: 300;
        text-transform: uppercase;
        color: white;
        text-decoration: none;
        position: absolute;
        bottom: 15%;
        left: 28%;
        border-radius: 3px;
        transition: .2s ease;
        transform: scale(1);
        font-size: .25em;
        @include media("<=500px"){
            box-shadow: none;
            left:34%;
            bottom:10%;
            background: rgba(8, 224, 8, 0.972);
        }  
    }
    a:hover{
        box-shadow: 10px -10px 20px 0px rgba(4, 251, 4, 0.274);
        background: rgba(8, 224, 8, 0.972);
        font-size: .28em;
    }
    a:active{
        box-shadow: 7px -7px 20px 0px rgba(4, 251, 4, 0.200);
        background: rgba(7, 192, 7, 0.89);
        font-size: .25em;
    }
}

}