body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #333333;
}

.intro {
  height: 100vh;
  width: 100%;
  background: white;
  z-index: 100;
}

.wrapper {
  -webkit-box-shadow: 2px 2px 20px 5px rgba(4, 251, 4, 0.466);
          box-shadow: 2px 2px 20px 5px rgba(4, 251, 4, 0.466);
  height: 600px;
  width: 900px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 2px;
}

.wrapper nav {
  height: 50px;
  line-height: 48px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.wrapper nav a {
  background-color: rgba(7, 192, 7, 0.89);
  border-radius: 2px;
  color: white;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1em;
  padding: 0 99px;
  text-transform: uppercase;
}

.wrapper nav a:hover {
  background-color: rgba(8, 185, 8, 0.979);
}

.wrapper nav a:active {
  background-color: rgba(7, 192, 7, 0.89);
}

.wrapper nav .active {
  background: white;
  color: #333333;
}

.wrapper nav .active:hover {
  background: white;
  color: #333333;
}

.wrapper .contact.none {
  display: none;
}

.wrapper .contact {
  width: 80%;
  margin-left: 10%;
  text-align: center;
}

.wrapper .contact .picture {
  margin-left: 41%;
  height: 130px;
  width: 130px;
  border: 1px solid #00BD21;
  border-radius: 80%;
  background: url(../profilePicture/profilna3.png) center no-repeat;
}

.wrapper .contact .about-me {
  width: 60%;
  margin-left: 20%;
}

.wrapper .contact h3 {
  font-size: 1.5em;
}

.wrapper .contact h3:nth-of-type(2) {
  margin-top: 0px;
}

.wrapper .contact h3:nth-of-type(1), .wrapper .contact h3:nth-of-type(2) {
  margin-bottom: 0px;
}

.wrapper .contact h3:nth-of-type(1) {
  margin-top: 14px;
}

.wrapper .contact p:nth-of-type(1) {
  margin-top: 15px;
  margin-bottom: 25px;
}

.wrapper .contact p:nth-of-type(2), .wrapper .contact p:nth-of-type(4) {
  margin-bottom: 0px;
  font-size: .9em;
}

.wrapper .contact p:nth-of-type(4) {
  margin-top: 10px;
}

.wrapper .contact p:nth-of-type(5), .wrapper .contact p:nth-of-type(3) {
  margin-top: 2px;
  font-size: 1em;
  font-weight: 600;
}

.wrapper .contact p:nth-of-type(3) {
  margin-bottom: 0px;
}

.wrapper .contact p:nth-of-type(5) {
  margin-bottom: 20px;
}

.wrapper .contact .icons a:hover {
  opacity: .8;
}

.wrapper .contact .icons a:active {
  opacity: 1;
}

.wrapper .swiper-container.none {
  display: none;
}

.wrapper .swiper-container {
  height: 100%;
  width: 100%;
}

.wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
  width: 300px;
  height: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3em;
  position: relative;
}

.wrapper .swiper-slide img {
  margin-top: 0px;
}

.wrapper .swiper-slide p,
.wrapper .swiper-slide a {
  display: block;
  font-size: 0.4em;
  position: absolute;
  bottom: 3%;
}

.wrapper .swiper-slide p {
  bottom: 4%;
}

.web-design .swiper-container {
  margin-top: 8%;
}

.web-design .swiper-slide {
  width: 100%;
  height: 100%;
  margin-top: 0%;
}
/*# sourceMappingURL=style.css.map */